.details {
    position: relative;
    li {
        cursor: pointer;
        padding: 12px 20px;
    }
}
.search {
    .menu {
        width: auto;
        top: calc(100% + 7px);
    }
    .textInput {
        flex: 1;
        font-size: 16px;
    }
}

.stickyHeader {
    border-radius: 6px;
    cursor: pointer;
}
