.list {
    display: block;
}
.listItem {
    margin: 12px 0;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }

    &Info {
        flex: 1;
        i {
            margin-right: 8px;
        }
    }

    &Actions {
        flex-shrink: 0;
        position: relative;
        &Button {
            border: none;
            background: var(--background-alt);
            color: inherit;
            width: 36px;
            height: 36px;
            border-radius: 1000px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }
    }

    &NameAndIcon {
        font-size: 110%;
        margin-bottom: 4px;
    }

    &Status {
        font-size: 75%;
    }
}

.actions {
    display: grid;
    grid-auto-flow: row;
    gap: 12px;
    margin-top: 12px;

    button {
        border-radius: 1000px;
        border: none;
        height: 36px;
        font-size: 100%;
        background: var(--error-button-background);
        color: inherit;
        i {
            margin-right: 8px;
        }
    }
}

.confirmDelete {
    margin-top: 12px;
    section {
        display: grid;
        grid-auto-flow: column;
        margin-top: 18px;
        gap: 12px;
    }
    button {
        border-radius: 1000px;
        border: none;
        height: 36px;
        color: inherit;
        text-transform: uppercase;
        font-size: 80%;
        font-family: inherit;
        i {
            margin-right: 8px;
        }
    }

    &Yes {
        background: var(--error-button-background);
    }
}
