.list {
    display: block;
}
.listItem {
    margin: 12px 0;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
    }

    &Info {
        flex: 1;
        i {
            margin-right: 8px;
        }
    }

    &Actions {
        flex-shrink: 0;
        position: relative;
        &Button {
            border: none;
            background: var(--background-alt);
            color: inherit;
            width: 36px;
            height: 36px;
            border-radius: 1000px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
        }
    }

    &NameAndIcon {
        font-size: 110%;
        margin-bottom: 4px;
    }

    &Status {
        font-size: 75%;
    }
}

.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    display: flex;

    &Backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        animation: fadeBackdrop 150ms forwards;
    }
    &Body {
        max-width: calc(100vw - 24px);
        width: 720px;
        background-color: var(--background-alt);
        padding: 24px;
        border-radius: 18px;
        box-sizing: border-box;
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                margin: 0;
            }
            button {
                border: none;
                background-color: transparent;
                color: inherit;
                width: 36px;
                height: 36px;
                font-size: 16px;
                cursor: pointer;
            }
        }
        &Actions {
            display: grid;
            grid-auto-flow: row;
            gap: 12px;
            margin-top: 12px;

            button {
                border-radius: 1000px;
                border: none;
                height: 36px;
                font-size: 100%;
                background: var(--error-button-background);
                color: inherit;
                i {
                    margin-right: 8px;
                }
            }
        }

        &ConfirmDelete {
            margin-top: 12px;
            section {
                display: grid;
                grid-auto-flow: column;
                margin-top: 18px;
                gap: 12px;
            }
            button {
                border-radius: 1000px;
                border: none;
                height: 36px;
                font-size: 100%;
                color: inherit;
                i {
                    margin-right: 8px;
                }
            }

            &Yes {
                background: var(--error-button-background);
            }
        }
    }
}

@keyframes fadeBackdrop {
    from {
        backdrop-filter: blur(0);
    }
    to {
        backdrop-filter: blur(3px);
    }
}
