.filteredSearch {
    margin: 12px 0;
    .details {
        position: relative;
        li {
            cursor: pointer;
            padding: 12px 20px;
        }
    }
    .menu {
        width: auto;
        top: calc(100% + 7px);
    }
    .textInput {
        flex: 1;
        font-size: 16px;
    }
}

.loader {
    margin: 48px auto 0;
}

.list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}
