.listItem {
    cursor: pointer;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 24px 0;
    color: inherit;
    font-family: inherit;
}
.confirmDelete {
    height: auto;
}
