.listItem {
    cursor: pointer;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 24px 0;
    color: inherit;
    font-family: inherit;
    i {
        margin-right: 8px;
    }
    &:not(:first-of-type) {
        border-top: 1px solid var(--border-color);
    }

    &Name {
        font-size: 18px;
        margin-bottom: 4px;
        color: var(--font-color-dim);
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center;
        &Dash {
            margin: 0 8px;
        }
        &Title {
            color: var(--font-color);
            font-style: initial;
            font-family: 'Rancho', cursive;
            font-size: 36px;
        }
    }
}

.ingredients {
    font-size: 16px;
    h4 {
        margin: 0;
        font-weight: normal;
    }
    &OutOfStock {
        color: var(--error-text);
    }
}

.recipeTip {
    margin-top: 8px;
    font-style: italic;
    color: var(--font-color-dim);
    user-select: none;
}

.recipe {
    background-color: var(--background-alt);
    display: grid;
    align-items: center;
    grid-template-columns: min-content min-content 1fr;
    gap: 6px 18px;
    padding: 12px 18px;
    border-radius: 12px;
    margin-bottom: 12px;

    &Header {
        grid-column-start: span 3;
        font-size: 75%;
        color: var(--font-color-dim);
    }
    &AdditionalNotes {
        grid-column-start: span 3;
        margin: 0;
        padding: 0;
        font-family: inherit;
        white-space: pre-wrap;
    }

    &Actions {
        margin-top: 12px;
        display: grid;
        grid-template-columns: auto auto;
        grid-column-start: span 3;
        gap: 12px;
        a,
        button {
            padding: 0 20px;
            text-align: center;
        }
        &Delete {
            background: var(--error-button-background);
        }
    }
}
