.root {
    .details {
        .dropdown {
            top: calc(100% + 8px);

            &Item {
                cursor: pointer;
                padding: 12px 20px;
            }
        }
    }
    .input {
        display: flex;
        input {
            font-size: 16px;
            flex: 1;
        }
    }
}
