.header {
    border-bottom: 1px solid lightgray;
    padding: 12px 0;
    position: sticky;
    top: 0;
    background: white;
    > span {
        display: block;
        max-width: 720px;
        padding: 0 12px;
        margin: 0 auto;
        i {
            margin: 0 8px;
        }
    }

    &Link {
        background-color: var(--highlight-color);
        text-decoration: none;
        padding: 4px 10px;
        border-radius: 1000px;
    }
}
