.header {
    border-bottom: 1px solid var(--border-color);
    padding: 12px 0;
    position: sticky;
    top: 0;
    background: var(--background);
    font-size: 90%;

    &Inner {
        display: flex;
        justify-content: space-between;
        max-width: 720px;
        padding: 0 12px;
        margin: 0 auto;
        > span {
            i {
                margin: 0 8px;
            }
        }
    }

    &Link {
        background-color: var(--highlight-color);
        color: var(--font-color);
        text-decoration: none;
        padding: 6px 10px;
        border-radius: 1000px;
    }
}

.body {
    max-width: calc(100vw - 24px);
    width: 720px;
    margin: 0 auto;
}
