.header {
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    background: var(--background);
    font-size: 90%;
    z-index: 1;

    &Inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        max-width: calc(100vw - 24px);
        width: 720px;
        margin: 0 auto;
        > div {
            display: flex;
            align-items: center;
            i {
                margin: 0 8px;
            }
        }
        > a {
            color: var(--font-color);
            align-self: stretch;
            display: flex;
            align-items: center;
            padding: 0 12px;
            text-decoration: none;
            margin-right: -10px;
        }
    }

    &Link {
        background-color: var(--highlight-color);
        color: var(--font-color);
        text-decoration: none;
        padding: 6px 10px;
        margin: 6px 0;
        border-radius: 1000px;
        display: block;
    }
}

.body {
    max-width: calc(100vw - 24px);
    width: 720px;
    margin: 0 auto;
}
