* {
    --background: #e2e2e2;
    --background-alt: #eeeeee;
    --background-alt2: #eeeeee;
    --font-color: black;
    --font-color-dim: #6e6e6e;
    --border-color: #777;
    --highlight-color: #bff0ff;
    --highlight-color-dim: #99bec9;
    --error-text: rgb(223, 60, 92);
    --error-button-background: #f5003167;
    --success-button-background: #31f50067;

    @media (prefers-color-scheme: dark) {
        --background: black;
        --background-alt: #292929;
        --background-alt2: #444444;
        --font-color: #f5f5f5;
        --font-color-dim: #8f8f8f;
        --border-color: #272727;
        --highlight-color: #052b36;
        --highlight-color-dim: #031a20;
        --error-button-background: #dc143c67;
        --success-button-background: #14dc2567;
    }
}

html {
    --background: #f5f5f5;
    --background-alt: white;
    --font-color: black;
    --font-color-dim: #6e6e6e;
    --border-color: #777;
    --highlight-color: #bff0ff;
    --highlight-color-dim: #99bec9;
    --error-button-background: #f5003167;

    background: var(--background);
    color: var(--font-color);

    @media (prefers-color-scheme: dark) {
        --background: black;
        --background-alt: #292929;
        --font-color: #f5f5f5;
        --font-color-dim: #8f8f8f;
        --border-color: #272727;
        --highlight-color: #052b36;
        --highlight-color-dim: #031a20;
        --error-button-background: #dc143c67;
    }
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background: inherit;
    color: inherit;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    color: var(--font-color);
}

.standard-button {
    color: var(--font-color);
    background: var(--highlight-color);
    border: none;
    border-radius: 1000px;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    font-size: inherit;

    i {
        margin-right: 8px;
    }

    &:disabled {
        color: var(--font-color-dim);
        background: var(--highlight-color-dim);
    }
}

input[type='text'],
input[type='search'],
input[type='password'] {
    background: var(--background-alt);
    color: var(--font-color);
    border: none;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border-radius: 1000px;
    padding: 8px 14px;
    font-size: 100%;
    font-family: inherit;
    box-shadow: none;
}
