html {
    --background: #f5f5f5;
    --background-alt: white;
    --font-color: black;
    --font-color-dim: #6e6e6e;
    --border-color: #777;
    --highlight-color: #bff0ff;
    --highlight-color-dim: #99bec9;

    background: var(--background);
    color: var(--font-color);

    @media (prefers-color-scheme: dark) {
        --background: black;
        --background-alt: #292929;
        --font-color: #c2c2c2;
        --font-color-dim: #8f8f8f;
        --border-color: #272727;
        --highlight-color: #052b36;
        --highlight-color-dim: #031a20;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    color: var(--font-color);
}

.standard-button {
    color: var(--font-color);
    background: var(--highlight-color);
    border: none;
    border-radius: 1000px;

    &:disabled {
        color: var(--font-color-dim);
        background: var(--highlight-color-dim);
    }
}
