.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;

    button,
    .inputWrapper {
        display: block;
        width: 80vw;
        max-width: 320px;
        font-size: 110%;
    }

    input[type='password'] {
        margin-bottom: 12px;
    }

    button {
        padding: 8px;
    }
}
